<!DOCTYPE html>
<html lang="ja">
<head>
  {{ block "head" . }}
    {{ partial "head.html" . }}
  {{ end }}
</head>
<body class="site">
  {{ partial "header.html" . }}

  <main class="container">
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}
  {{- with resources.Get "js/main.js" -}}
    <script src="{{ .RelPermalink }}" defer></script>
  {{- else -}}
    {{- with "js/main.js" | relURL -}}
      <script src="{{ . }}" defer></script>
    {{- end -}}
  {{- end }}
</body>
</html>