<div class="social-links">
  <!-- X -->
  <a href="https://x.com/mossgray_" class="icon-x" target="_blank" rel="noopener noreferrer" aria-label="X">
    <img src="/images/icons/x.svg" alt="X icon">
  </a>
  <!-- YouTube -->
  <a href="https://www.youtube.com/@mossgray_" class="icon-youtube" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
    <img src="/images/icons/youtube.svg" alt="YouTube icon">
  </a>
  <!-- Skeb -->
  <a href="https://skeb.jp/@mossgray_" class="icon-skeb" target="_blank" rel="noopener noreferrer" aria-label="Skeb">
    <img src="/images/icons/skeb.svg" alt="Skeb icon">
  </a>
</div>
